body {
  background-color: rgb(250, 255, 255);
}
main {
  width: 90%;
  margin: auto;
  margin-top: 90px;
}
.wysiwig-toolbar {
  background-color: rgb(241, 241, 241) !important;
}
.wysiwig-editor {
  background-color: white !important;
  padding: 2%;
  border: 1px solid rgb(231, 231, 231);
  box-shadow: 2px 2px 4px 4px rgb(235, 235, 235);
  min-height: 60vh;
}
